<!--barra de navegacion importada de boostrap-->
<nav class="navbar navbar-expand-lg navbar-ligth bg-dark">
  <a class="navbar-brand" href="/">Home administradores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!--Submenu consultas-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-target="desplegable" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Consultas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/consultaPasajero/Buscar">Todas las personas registradas</a>
          <a class="dropdown-item" href="/consulta2Pasajero/Buscar2">Cantidad de usuarios por país</a>
          <a class="dropdown-item" href="/consulta3Pasajero/Buscar3">Cantidad de usuarios por idioma a enseñar</a>
          <a class="dropdown-item" href="/consulta3Pasajero/Buscar3">Cantidad de usuarios por idioma a aprender</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

    </ul>
  </div>
</nav>

<div>
  <div class="jumbotron mt-4">
    <h1 class="display-4">Administradores</h1>
    <p class="lead">Ventana de consultas administradores</p>
    <hr class="my4">
    <p>Se puede ver las consultas que los administradores puede realizar </p>
  </div>
  <hr>

</div>