<app-navbara></app-navbara>

<div class="login-page">
    <mat-card class="mat-elevation-z12">

        <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">


            <mat-tab label="Sign In">

                <mat-card-content>

                    <form action="">

                        <mat-form-field>
                            <input matInput type="email" placeholder="Email" name="email">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password" required minlength="8" placeholder="Password" name="password">
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="login-button">SignIn</button>

                    </form>

                </mat-card-content>

            </mat-tab>

            <mat-tab label="SignUp">


                <mat-card-content>


                    <form action="">


                        <mat-form-field>
                            <input matInput type="text" placeholder="Nombre" name="fullName">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="email" placeholder="Email" name="email">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password" required minlength="8" placeholder="Password" name="password">
                        </mat-form-field>


                        <button mat-raised-button color="primary" class="login-button">SignUp</button>

                    </form>


                </mat-card-content>

            </mat-tab>

        </mat-tab-group>


    </mat-card>

</div>

<p>adminlr works!</p>